<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="binding1_IIntermagService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://emmanuel-pc:8001/InterMagService" binding="basicHttpBinding"
                bindingConfiguration="binding1_IIntermagService" contract="IntermagService.IIntermagService"
                name="binding1_IIntermagService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
